:root {
  --background-color: #E6E2DD;
  --text-color: #373A36;
  --accent-color: #eb9679;
  --game-fill-color: #ffffff;
}

.main {
  margin: 15px 0;
}

.body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'san serif';
  font-size: 24px;
  margin: 0 auto;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1360px;
}

/* header section */
.head__section {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'btn level select';
  margin-bottom: 80px;
}

.mute-theme-wrapper {
  grid-area: btn;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.theme__btn {
  border: none;
  background-color: var(--accent-color);
  padding: 5px 50px;
  border-radius: 5px;
  cursor: pointer;
}

.moon__svg,
.sound__img {
  width: 35px;
  height: 35px;
}

.random__btn {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
}

.level-wrapper__btn {
  grid-area: level;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.level__btn,
.random__btn,
.pic__btn,
.result__btn,
.select-level,
.refresh__btn,
.save__btn,
.continue__btn {
  padding: 8px 8px;
  font: 400 24px/125% 'san serif';
  cursor: pointer;
  border-radius: 5px;
  color: var(--text-color);
}

.level__btn,
.result__btn,
.refresh__btn,
.save__btn {
  border: none;
  background-color: var(--game-fill-color);
}

.level__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.star__btn {
  width: 23px;
  height: 23px;
}

.level__btn .star__btn:first-child {
  padding-left: 5px;
}

.select-level {
  background-color: rgba(235, 150, 121, 0.5);
  border: none;
}

.select-level .star__btn:first-child {
  padding-left: 5px;
}

.select-pic__wrapper {
  display: flex;
  justify-content: center;
  grid-area: select;
}

.select-list {
  display: none;
}

.visible {
  order: 1;
  display: block;
  position: absolute;
  margin-top: 60px;
  list-style: none;
  background-color: var(--accent-color);
  font-size: 24px;
  padding: 21px;
  max-height: 300px;
  overflow: auto;
}

.title {
  list-style: none;
  padding: 20px;
}

.name-game {
  color: var(--text-color);
  cursor: pointer;
}

.pic__btn,
.continue__btn,
.mute__btn {
  border: 2px solid var(--accent-color);
  background: none;
  border-radius: 5px;
}

.timer-wrapper {
  text-align: center;
}

.timer {
  font: 600 30px/125% 'san serif';
  cursor: default;
}

/* Game section */
.game__section {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 50px max-content;
  grid-template-areas: '. info .' 'gameBtn gameFill .';
  gap: 20px;
}

.info-wrapper {
  grid-area: info;
  text-align: center;
}

.game-wrapper__btn {
  grid-area: gameBtn;
}

.refresh-result-wrapper__btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  padding: 0 40px;
}

.label-pic {
  font: 600 40px/125% 'san serif';
  margin: 0;
}

.game-wrapper,
.columns,
.game {
  display: grid;
}

.game-wrapper {
  grid-area: gameFill;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
  grid-template-areas:
    '. columns'
    'rows game';
  justify-content: center;
}

.columns {
  grid-area: columns;
  grid-template-rows: 1fr;
  border-left: 3px solid var(--text-color);
}

.rows {
  display: grid;
  grid-area: rows;
  grid-template-columns: 1fr;
  align-items: end;
  border-top: 2px solid;
  align-content: stretch;
  border-bottom: 2px solid;
}

.game {
  grid-area: game;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-right: 1px solid;
}

.grid-10-10 .btn:nth-child(n+41):nth-child(-n+50) {
  border-bottom: 2px solid var(--text-color);
}

.grid-15-15 .btn:nth-child(n+61):nth-child(-n+75),
.grid-15-15 .btn:nth-child(n+136):nth-child(-n+150) {
  border-bottom: 2px solid var(--text-color);
}

.column-hints {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-right: 1px solid var(--text-color);
}

.row-hints {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid var(--text-color);
}

.column-hints,
.row-hints {
  font-size: 2vw;
  font-weight: 600;
}

.row-hints:nth-child(5n) {
  border-bottom: 2px solid var(--text-color);
}

.row-hints:last-child {
  border-bottom: none;
}

.column-hints:nth-child(5n) {
  border-right: 3px solid var(--text-color);
}

.row-hints .hints__span {
  padding: 0 10px;
}

.column-hints .hints__span {
  padding: 5px 0;
}

.btn {
  border: 0.5px solid var(--text-color);
  background-color: var(--game-fill-color);
}

.btn__active {
  background-color: var(--text-color);
}

.btn__cross::after {
  content: 'X';
  font-size: 2vw;
}

.save__btn-disabled {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.7;
  cursor: default;
}

/* Modal section */
.modal-visible__section,
.modal-win__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-visible__section {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-win__wrapper {
  flex-direction: column;
  background-color: var(--background-color);
  width: 400px;
  gap: 20px;
  padding: 15px;
  border-radius: 5px;
  color: var(--text-color);
}

.modal-title {
  font: 600 32px/125% 'san serif';
  margin: 0;
}

.modal-text {
  font: 400 28px/125% 'san serif';
  margin: 0;
}

.modal-exit__btn {
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--accent-color);
  font: 400 28px/125% 'san serif';
  color: var(--text-color);
}

.rating-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--game-fill-color);
  border-radius: 5px;
  max-width: 80%;
}

.rating-index {
  justify-self: center;
}

.rating-name {
  justify-self: start;
}

.rating-time {
  justify-self: end;
}

.modal-rating {
  grid-column: 1 / -1;
  text-align: center;
}

.rating-index,
.rating-name,
.rating-time {
  margin: 10px;
}

@media screen and (max-width: 1200px) {

  .modal-win__wrapper {
    width: 360px;
    gap: 20px;
    padding: 15px;
  }

  .modal-title {
    font-size: 30px;
  }

  .modal-text {
    font-size: 24px;
  }

  .rating-index,
  .rating-name,
  .rating-time,
  .modal-rating {
    font-size: 22px;
  }

  .modal-exit__btn {
    padding: 5px 15px;
    font: 24px;
  }

  .head__section {
    margin-bottom: 60px;
  }

  .star__btn {
    width: 22px;
    height: 22px;
  }

  .timer {
    font-size: 25px;
  }

  .level__btn,
  .random__btn,
  .pic__btn,
  .result__btn,
  .select-level,
  .refresh__btn,
  .save__btn,
  .continue__btn {
    font-size: 22px;
  }

  .moon__svg,
  .sound__btn {
    width: 30px;
    height: 30px;
  }

  .theme__btn {
    padding: 5px 35px;
  }

  .visible {
    font-size: 22px;
    margin-top: 55px;
    padding: 18px;
  }

  .label-pic {
    font-size: 35px;
  }

  .row-hints .hints__span {
    padding: 0 8px;
  }

  .column-hints .hints__span {
    padding: 4px 0;
  }
}

@media screen and (max-width: 1000px) {

  .modal-win__wrapper {
    width: 320px;
    gap: 15px;
    padding: 15px;
  }

  .modal-title {
    font-size: 28px;
  }

  .modal-text {
    font-size: 22px;
  }

  .rating-index,
  .rating-name,
  .rating-time,
  .modal-rating {
    font-size: 20px;
    margin: 10px;
  }

  .modal-exit__btn {
    padding: 5px 15px;
    font-size: 22px;
  }

  .head__section {
    margin-bottom: 40px;
  }

  .star__btn {
    width: 20px;
    height: 20px;
  }

  .timer {
    font-size: 22px;
  }

  .label-pic {
    font-size: 32px;
  }

  .level__btn,
  .random__btn,
  .pic__btn,
  .result__btn,
  .select-level,
  .refresh__btn,
  .save__btn,
  .continue__btn {
    padding: 6px 6px;
    font-size: 20px;
  }

  .moon__svg,
  .sound__btn {
    width: 27px;
    height: 27px;
  }

  .visible {
    font-size: 20px;
    margin-top: 50px;
    padding: 14px;
  }

  .column-hints .hints__span {
    padding: 2px 0;
  }

  .row-hints .hints__span {
    padding: 0 6px;
  }
}

@media screen and (max-width: 930px) {

  .modal-win__wrapper {
    width: 250px;
    gap: 10px;
    padding: 10px;
  }

  .modal-title {
    font-size: 22px;
  }

  .modal-text {
    font-size: 16px;
  }

  .rating-index,
  .rating-name,
  .rating-time,
  .modal-rating {
    font-size: 14px;
    margin: 7px;
  }

  .modal-exit__btn {
    font-size: 16px;
  }

  .moon__svg,
  .sound__btn {
    width: 22px;
    height: 22px;
  }

  .star__btn {
    width: 17px;
    height: 17px;
  }

  .timer {
    font-size: 20px;
  }

  .level__btn,
  .random__btn,
  .pic__btn,
  .result__btn,
  .select-level,
  .refresh__btn,
  .save__btn,
  .continue__btn {
    padding: 6px 6px;
    font-size: 16px;
  }

  .visible {
    font-size: 18px;
    margin-top: 45px;
    padding: 15px;
    max-height: 220px;
  }

  .title {
    padding: 10px;
  }

  .game__section {
    grid-template-columns: 1fr;
    grid-template-rows: 50px max-content 50px;
    grid-template-areas:
      'info'
      'gameFill'
      'gameBtn';
  }

  .label-pic {
    font-size: 28px;
  }

  .timer {
    margin: 10px 0;
  }

  .game-wrapper__btn {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: max-content max-content;
    grid-template-areas:
      'timer . .'
      'button button button';
  }

  .timer-wrapper {
    grid-area: timer;
  }

  .refresh-result-wrapper__btn {
    flex-direction: row;
    gap: 20px;
    grid-area: button;
    padding: 0 30px;
  }
}

@media screen and (max-width: 720px) {

  .modal-win__wrapper {
    width: 215px;
    gap: 10px;
    padding: 10px;
  }

  .modal-title {
    font-size: 20px;
  }

  .modal-text {
    font-size: 14px;
  }

  .rating-index,
  .rating-name,
  .rating-time,
  .modal-rating {
    font-size: 12px;
    margin: 5px;
  }

  .modal-exit__btn {
    font-size: 14px;
  }

  .theme__btn {
    padding: 5px 20px;
  }

  .head__section {
    margin-bottom: 25px;
  }

  .moon__svg,
  .sound__btn {
    width: 20px;
    height: 20px;
  }

  .star__btn {
    width: 15px;
    height: 15px;
  }

  .label-pic {
    font-size: 24px;
  }

  .timer {
    font-size: 18px;
  }

  .level-wrapper__btn {
    gap: 10px;
  }

  .level__btn,
  .random__btn,
  .pic__btn,
  .result__btn,
  .select-level,
  .refresh__btn,
  .save__btn,
  .continue__btn {
    padding: 6px 6px;
    font-size: 14px;
  }

  .visible {
    font-size: 14px;
    margin-top: 40px;
    padding: 19px;
    max-height: 180px;
  }

  .title {
    padding: 7px;
  }

}

@media screen and (max-width: 605px) {
  .theme__btn {
    padding: 5px 10px;
  }

  .moon__svg,
  .sound__btn {
    width: 17px;
    height: 17px;
  }

  .label-pic {
    font-size: 20px;
  }

  .level__btn,
  .random__btn,
  .pic__btn,
  .result__btn,
  .select-level,
  .refresh__btn,
  .save__btn,
  .continue__btn {
    padding: 6px 6px;
    font-size: 12px;
  }

  .timer {
    font-size: 16px;
  }

  .visible {
    font-size: 14px;
    margin-top: 40px;
    padding: 19px;
    max-height: 180px;
  }

  .hints__span {
    font-size: 2.5vw;
  }
}