:root {
  --background-color: #E6E2DD;
  --text-color: #373A36;
  --accent-color: #D48166;
  --game-fill-color: #efefee;
}

.main {
  margin-top: 50px;
}

.body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'san serif';
  font-size: 24px;
  margin: 0 auto;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1360px;
}

.head__section {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.game__section {
  flex-direction: column;
  gap: 40px;
}

.level-wrapper__btn {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.level__btn {
  border: 1px solid var(--text-color);
  padding: 5px;
  font: 400 30px/125% 'san serif';
}

.select-level {
  background-color: #D48166;
  opacity: 0.5;
  border: 1px solid var(--text-color);
  padding: 5px;
  font: 400 30px/125% 'san serif';
}

.select-pic__wrapper {
  display: flex;

}

.pic__btn {
  order: 0;
  border: 2px solid var(--accent-color);
  font: 400 30px/125% 'san serif';
  background: none;
}

.select-list{
  display: none;
}

.visible {
  order: 1;
  display: block;
  position: absolute;
  margin-top: 50px;
  list-style: none;
  background-color: var(--accent-color);
  font-size: 26px;
  padding: 20px;
}

.name-game {
  cursor: pointer;
}

.game-wrapper,
.columns,
.rows,
.game {
  display: grid;
}

.game-wrapper {
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
  grid-template-areas:
    '. columns'
    'rows game';
    order: 1;
}

.info-wrapper {
  order: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.label-pic,
.size-pic {
  font: 600 30px/125% 'san serif';
}

.columns {
  grid-area: columns;
  grid-template-rows: 1fr;
  /* grid-template-columns: repeat(5, 50px); */
  align-items: flex-end;
}

.rows {
  grid-area: rows;
  grid-template-columns: 1fr;
  /* grid-template-rows: repeat(5, 50px); */
  align-items: center;
  margin-right: 10px;
}

.game {
  grid-area: game;
  /* grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(5, 50px); */
  border: 2px solid;
}

.btn {
  border: 0.5px solid var(--text-color);
  background-color: var(--game-fill-color);
}

.btn__active {
  background-color: var(--text-color);
}

.row-hints,
.column-hints {
  display: flex;
  gap: 10px;
}

.row-hints {
  justify-content: flex-end;
}

.column-hints {
  flex-direction: column;
  align-items: center;
}

.hints__span {
  font: 600 24px/125% 'san serif';
}

.modal-win__section {
  display: none;
}

.modal-visible__section,
.modal-win__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-visible__section {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-win__wrapper {
  flex-direction: column;
  border: 2px solid var(--text-color);
  background-color: var(--background-color);
  width: 400px;
  height: 300px;
}

.modal-pics__btn {
  border: none;
  background-color: var(--accent-color);
  padding: 10px 15px;
  cursor: pointer;
  font: 24px/125% 'san serif';
}

.btn-container {
  display: flex;
  gap: 10px;
}

.modal-exit__btn{
  border: 2px solid var(--accent-color);
  padding: 10px 15px;
  cursor: pointer;
  font: 24px/125% 'san serif';
}