@font-face {
  font-family: 'Vetka';
  font-style: normal;
  font-weight: normal;
  src: local('Vetka'),
    url(/fonts/Vetka.woff);
}

:root {
  --background-color: #E6E2DD;
  --text-color: #373A36;
  --accent-color: #D48166;
  --game-fill-color: #efefee;
}

/* * {
  margin: 0;
  padding: 0;
} */

.main {
  /* margin: 0 auto; */
  margin-top: 50px;
}

.body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Vetka';
  font-size: 24px;
  margin: 0 auto;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1360px;
}

.head__section {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.level__btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pic__ul {
  padding: 5px 10px;
  font-size: 30px;
  list-style: none;
  position: relative;
}

.sub__ul {
  display: none;
  position: absolute;
  top: 100%;
  list-style: none;
}

.game-wrapper,
.columns,
.rows,
.game {
  display: grid;
}

.game-wrapper {
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
  grid-template-areas:
    '. columns'
    'rows game';
}

.columns {
  grid-area: columns;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 50px);
  align-items: flex-end;
}

.rows {
  grid-area: rows;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,50px);
  align-items: center;
  margin-right: 10px;
}

.game {
  grid-area: game;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(5, 50px);
}

.btn {
  border: 0.5px solid var(--text-color);
  background-color: var(--game-fill-color);
}

.btn__active {
  background-color: var(--text-color);
}

.row-hints,
.column-hints {
  display: flex;
  gap: 5px;
}

.row-hints {
  justify-content: flex-end;
}

.column-hints {
  flex-direction: column;
  align-items: center;
}

.hints__span {
  font: 600 24px/125% 'Vetka';
}